.help-content {
    margin: auto;
    width: 80%;
    
    h1 {
        margin-top: 10px;
    }

    .green {
        color: green;
    }

    .amber {
        color: orangered;
    }

    .red {
        color: red;
    }
}